<!DOCTYPE html>
<html>

<head>
    <title>My Blog</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row mx-3 justify-content-between">
            <h1 class="mt-5 col-3">My Blog</h1>
            <div class="col-3 mt-5">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPostModal">
                    Add Post
                </button>
            </div>
        </div>
        <hr>
        <div x-data="data">
            <div x-init="loadPosts()">
                <template x-for="post in posts" :key="post._id">
                    <div class="card mb-5">
                        <div class="card-body">
                            <h5 class="card-title" x-text="post.title"></h5>
                            <p class="card-text" x-text="post.body"></p>
                            <!-- <a :href="'/post/' + post._id" class="btn btn-primary">Read More</a> -->
                        </div>
                        <div class="card-footer text-muted" x-text="new Date(post.date).toDateString()"></div>
                    </div>
                </template>
            </div>
        </div>
    </div>

    <!-- Add Post Modal -->
    <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPostModalLabel">Add Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="postTitle">Title</label>
                            <input type="text" class="form-control" id="postTitle" required>
                        </div>
                        <div class="form-group">
                            <label for="postBody">Body</label>
                            <textarea class="form-control" id="postBody" rows="3" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="addPostBtn">Add Post</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('data', () => ({
                posts: [],
                loadPosts() {
                    fetch('/posts', {
                        redirect: 'follow'
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            this.posts = data.body;
                        });
                }
            }));

        });

    </script>
    <script>
        $(function () {

            $('#addPostBtn').click(function () {
                var post = {
                    title: $('#postTitle').val(),
                    body: $('#postBody').val()
                };

                $.ajax({
                    url: '/posts/create',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(post),
                    success: function (data) {
                        $('#addPostModal').modal('hide');
                        $('#postTitle').val('');
                        $('#postBody').val('');
                        // Reload posts
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });

        })
    </script>
</body>

</html>